.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4C5C3C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4C5C3C;
}

.App-link {
  color: #61dafb;
}

/* My stuff */
#app {
  background-color: #4C5C3C;
  color: #DCECB4;
}

.card {
  --bs-card-bg: #f8f9fa;
}

#navigation {
  margin-left: 0;
}

.section {
  min-height: 100vh;
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a78a34;
  --bs-btn-border-color: #4c5c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #947b33;
  --bs-btn-hover-border-color: #4c5c3c;
}

/*
.section-heading {
  padding-top: 75px;
}

  /* -------------------*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
